{
  "openapi": "3.0.1",
  "info": {
    "title": "API V2",
    "version": "1.0.0",
    "description": "The Dog API provides a wealth of information on dog breeds, groups, and fun facts. Access and integrate this data into your website or application with our easy-to-use JSON API.",
    "termsOfService": "https://dogapi.dog/terms",
    "contact": {
      "email": "dev@dogapi.dog"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/kinduff/dogapi.dog/blob/master/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://dogapi.dog/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Breeds",
      "description": "Over 340 dog breeds, each one belonging to a group."
    },
    {
      "name": "Groups",
      "description": "The breed groups, each one listing the breeds it contains."
    },
    {
      "name": "Facts",
      "description": "Random dog facts."
    }
  ],
  "components": {
    "schemas": {
      "Range": {
        "type": "object",
        "description": "A minimum and maximum, both optional. Empty when unknown.",
        "properties": {
          "min": {
            "type": "integer",
            "example": 10
          },
          "max": {
            "type": "integer",
            "example": 14
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "next": {
            "type": "integer",
            "description": "Next page number, absent on the last page",
            "example": 2
          },
          "last": {
            "type": "integer",
            "description": "Last page number",
            "example": 2
          },
          "records": {
            "type": "integer",
            "description": "Total number of records",
            "example": 340
          }
        }
      },
      "BreedImage": {
        "type": "object",
        "description": "A picture of the breed, in every size the API serves. The attribution must be shown wherever the image is used.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The original file, as imported"
          },
          "thumb": {
            "type": "string",
            "format": "uri",
            "description": "Square 200x200 WebP crop"
          },
          "medium": {
            "type": "string",
            "format": "uri",
            "description": "WebP, longest side 600px"
          },
          "large": {
            "type": "string",
            "format": "uri",
            "description": "WebP, longest side 1200px"
          },
          "attribution": {
            "type": "object",
            "properties": {
              "author": {
                "type": "string",
                "example": "Magdalena Niemiec"
              },
              "license": {
                "type": "string",
                "example": "CC BY-SA 3.0"
              },
              "license_url": {
                "type": "string",
                "format": "uri"
              },
              "source": {
                "type": "string",
                "example": "wikimedia_commons"
              },
              "source_url": {
                "type": "string",
                "format": "uri",
                "description": "Page the image was taken from"
              }
            }
          }
        }
      },
      "Breed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "breed"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Caucasian Shepherd Dog"
              },
              "description": {
                "type": "string",
                "example": "The Caucasian Shepherd dog is a serious guardian breed and should never be taken lightly."
              },
              "life": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Range"
                  }
                ],
                "description": "Life expectancy in years"
              },
              "male_weight": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Range"
                  }
                ],
                "description": "Male weight in kilograms"
              },
              "female_weight": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Range"
                  }
                ],
                "description": "Female weight in kilograms"
              },
              "hypoallergenic": {
                "type": "boolean",
                "example": false
              },
              "images": {
                "type": "array",
                "description": "Pictures of the breed, empty when none have been imported yet",
                "items": {
                  "$ref": "#/components/schemas/BreedImage"
                }
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "group": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "group"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "group"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Herding Group"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "breeds": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "breed"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Fact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "fact"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "body": {
                "type": "string",
                "example": "Two Labradors, Lucky and Flo, were the first dogs known for sniffing out pirated DVDs."
              }
            }
          }
        }
      },
      "BreedCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Breed"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              },
              "current": {
                "type": "string",
                "format": "uri"
              },
              "next": {
                "type": "string",
                "format": "uri"
              },
              "last": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "BreedResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Breed"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "GroupCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Group"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "pagination": {
                "$ref": "#/components/schemas/PaginationMeta"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              },
              "current": {
                "type": "string",
                "format": "uri"
              },
              "next": {
                "type": "string",
                "format": "uri"
              },
              "last": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "GroupResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Group"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "FactCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fact"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/breeds": {
      "get": {
        "summary": "list breeds",
        "tags": [
          "Breeds"
        ],
        "description": "Returns every breed, ordered by name and split into pages.\n\nPages hold up to 1000 records. A missing, zero, negative or oversized\n`page[size]` falls back to that maximum, so a plain request returns the\nwhole collection. Each breed links to the group it belongs to.\n\nResponses may be cached publicly for up to 5 minutes.",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Number of records per page (max 1000)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "id": "f9643a80-af1d-422a-9f15-18d466822053",
                          "type": "breed",
                          "attributes": {
                            "name": "Caucasian Shepherd Dog",
                            "description": "The Caucasian Shepherd dog is a serious guardian breed and should never be taken lightly.",
                            "hypoallergenic": false,
                            "life": {
                              "min": 15,
                              "max": 20
                            },
                            "male_weight": {
                              "min": 50,
                              "max": 100
                            },
                            "female_weight": {
                              "min": 50,
                              "max": 100
                            },
                            "images": []
                          },
                          "relationships": {
                            "group": {
                              "data": {
                                "id": "02124eb6-1baa-410c-90ea-6b8629fb0837",
                                "type": "group"
                              }
                            }
                          }
                        },
                        {
                          "id": "dc5e84f8-9151-4624-836c-25b4e313118b",
                          "type": "breed",
                          "attributes": {
                            "name": "Bouvier des Flandres",
                            "description": "They don't build 'em like this anymore.",
                            "hypoallergenic": false,
                            "life": {
                              "min": 10,
                              "max": 14
                            },
                            "male_weight": {
                              "min": 30,
                              "max": 40
                            },
                            "female_weight": {
                              "min": 25,
                              "max": 35
                            },
                            "images": []
                          },
                          "relationships": {
                            "group": {
                              "data": {
                                "id": "256db247-70ce-4f08-b6a6-60b27ce369d1",
                                "type": "group"
                              }
                            }
                          }
                        }
                      ],
                      "meta": {
                        "pagination": {
                          "current": 1,
                          "next": 2,
                          "last": 2,
                          "records": 340
                        }
                      },
                      "links": {
                        "self": "https://dogapi.dog/api/v2/breeds",
                        "current": "https://dogapi.dog/api/v2/breeds?page[number]=1",
                        "next": "https://dogapi.dog/api/v2/breeds?page[number]=2",
                        "last": "https://dogapi.dog/api/v2/breeds?page[number]=2"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/BreedCollection"
                }
              }
            }
          }
        }
      }
    },
    "/breeds/{id}": {
      "get": {
        "summary": "get breed",
        "tags": [
          "Breeds"
        ],
        "description": "Returns a single breed. Unknown and malformed ids both return 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Breed id"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "id": "f9643a80-af1d-422a-9f15-18d466822053",
                        "type": "breed",
                        "attributes": {
                          "name": "Caucasian Shepherd Dog",
                          "description": "The Caucasian Shepherd dog is a serious guardian breed and should never be taken lightly.",
                          "hypoallergenic": false,
                          "life": {
                            "min": 15,
                            "max": 20
                          },
                          "male_weight": {
                            "min": 50,
                            "max": 100
                          },
                          "female_weight": {
                            "min": 50,
                            "max": 100
                          },
                          "images": [
                            {
                              "id": "6d1e1b0c-0f0b-4b4a-9c4c-8e1f4b7f7f52",
                              "url": "https://images.dogapi.dog/caucasian-shepherd-dog.jpg",
                              "thumb": "https://images.dogapi.dog/caucasian-shepherd-dog-thumb.webp",
                              "medium": "https://images.dogapi.dog/caucasian-shepherd-dog-medium.webp",
                              "large": "https://images.dogapi.dog/caucasian-shepherd-dog-large.webp",
                              "attribution": {
                                "author": "Magdalena Niemiec",
                                "license": "CC BY-SA 3.0",
                                "license_url": "https://creativecommons.org/licenses/by-sa/3.0/",
                                "source": "wikimedia_commons",
                                "source_url": "https://commons.wikimedia.org/wiki/File:Caucasian_Shepherd_Dog.jpg"
                              }
                            }
                          ]
                        },
                        "relationships": {
                          "group": {
                            "data": {
                              "id": "02124eb6-1baa-410c-90ea-6b8629fb0837",
                              "type": "group"
                            }
                          }
                        }
                      },
                      "links": {
                        "self": "https://dogapi.dog/api/v2/breeds/f9643a80-af1d-422a-9f15-18d466822053"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/BreedResource"
                }
              }
            }
          },
          "404": {
            "description": "no breed with that id"
          }
        }
      }
    },
    "/breeds/{id}/image": {
      "get": {
        "summary": "get breed image",
        "tags": [
          "Breeds"
        ],
        "description": "Redirects to a picture of the breed, so the URL can be used directly in\nan `<img>` tag. Returns 404 when the breed has no images yet.\n\nImages come from Wikimedia Commons and are served under the licence of\ntheir author. The credit for each one is in the `images` attribute of\nthe breed itself, and it has to be displayed alongside the picture.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Breed id"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "thumb",
                "medium",
                "large",
                "full"
              ],
              "default": "medium"
            },
            "description": "Which size to redirect to. `full` is the original file. An unknown size falls back to `medium`."
          },
          {
            "name": "random",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Redirect to any of the breed's images instead of the first one"
          }
        ],
        "responses": {
          "302": {
            "description": "redirect to the image file"
          },
          "404": {
            "description": "the breed has no images, or does not exist"
          }
        }
      }
    },
    "/breeds/image": {
      "get": {
        "summary": "get a random breed image",
        "tags": [
          "Breeds"
        ],
        "description": "Redirects to a picture of a randomly chosen breed. Returns 404 while no\nimages have been imported.",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "thumb",
                "medium",
                "large",
                "full"
              ],
              "default": "medium"
            },
            "description": "Which size to redirect to. `full` is the original file."
          }
        ],
        "responses": {
          "302": {
            "description": "redirect to the image file"
          },
          "404": {
            "description": "no images have been imported"
          }
        }
      }
    },
    "/facts": {
      "get": {
        "summary": "list facts",
        "tags": [
          "Facts"
        ],
        "description": "Returns random dog facts.\n\n`limit` is clamped to 1..5: anything missing, zero, negative or\nnon-numeric returns a single fact, and anything above 5 returns 5.\n\nEvery response is different, so these are sent with\n`Cache-Control: no-store` and must not be cached.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "default": 1
            },
            "description": "Number of facts to return (max 5, defaults to 1)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "id": "1cd1a16d-6fe1-40ea-9dd2-c21dd0f7c24e",
                          "type": "fact",
                          "attributes": {
                            "body": "Many foot disorders in dogs are caused by long toenails."
                          }
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FactCollection"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "list groups",
        "tags": [
          "Groups"
        ],
        "description": "Returns every breed group, ordered by name and split into pages.\n\nPages hold up to 1000 records, and there are only about 20 groups, so a\nplain request returns all of them. Each group lists the breeds that\nbelong to it.\n\nResponses may be cached publicly for up to 5 minutes.",
        "parameters": [
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Number of records per page (max 1000)"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "id": "02124eb6-1baa-410c-90ea-6b8629fb0837",
                          "type": "group",
                          "attributes": {
                            "name": "Foundation Stock Service"
                          },
                          "relationships": {
                            "breeds": {
                              "data": [
                                {
                                  "id": "b0b6810c-fb88-4987-ad0a-ae0440b04634",
                                  "type": "breed"
                                },
                                {
                                  "id": "38e06144-2ac3-43c0-981c-f8598eabc902",
                                  "type": "breed"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "256db247-70ce-4f08-b6a6-60b27ce369d1",
                          "type": "group",
                          "attributes": {
                            "name": "Herding Group"
                          },
                          "relationships": {
                            "breeds": {
                              "data": [
                                {
                                  "id": "85d5a702-057f-42e3-a24c-b56e0aa94bf9",
                                  "type": "breed"
                                },
                                {
                                  "id": "eef99f80-266a-4659-a1e7-3af639010984",
                                  "type": "breed"
                                }
                              ]
                            }
                          }
                        }
                      ],
                      "meta": {
                        "pagination": {
                          "current": 1,
                          "records": 20
                        }
                      },
                      "links": {
                        "self": "https://dogapi.dog/api/v2/groups",
                        "current": "https://dogapi.dog/api/v2/groups?page[number]=1"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GroupCollection"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "get group",
        "tags": [
          "Groups"
        ],
        "description": "Returns a single group. Unknown and malformed ids both return 404.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Group id"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": {
                      "data": {
                        "id": "02124eb6-1baa-410c-90ea-6b8629fb0837",
                        "type": "group",
                        "attributes": {
                          "name": "Foundation Stock Service"
                        },
                        "relationships": {
                          "breeds": {
                            "data": [
                              {
                                "id": "b0b6810c-fb88-4987-ad0a-ae0440b04634",
                                "type": "breed"
                              },
                              {
                                "id": "4bc90a09-5406-4739-96c6-ac2161fbfa4e",
                                "type": "breed"
                              }
                            ]
                          }
                        }
                      },
                      "links": {
                        "self": "https://dogapi.dog/api/v2/groups/02124eb6-1baa-410c-90ea-6b8629fb0837"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GroupResource"
                }
              }
            }
          },
          "404": {
            "description": "no group with that id"
          }
        }
      }
    }
  }
}