{
  "openapi": "3.0.1",
  "info": {
    "title": "API V1",
    "version": "1.0.0",
    "description": "The Dog Facts API allows users to access a collection of dog facts that have been submitted by members of the public. The API is simple to use and provides a variety of options for retrieving dog facts. With the V1 version of the API, users can access dog facts in a variety of formats, including plain text and HTML.",
    "termsOfService": "https://dogapi.dog/terms",
    "contact": {
      "email": "dev@dogapi.dog"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/kinduff/dogapi.dog/blob/master/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://dogapi.dog/api/v1"
    }
  ],
  "paths": {
    "/facts": {
      "get": {
        "summary": "list facts",
        "tags": [
          "Facts"
        ],
        "description": "Returns random dog facts in the classic (deprecated) format.\n\n`number` and `limit` are aliases for the same thing and are clamped to\n1..5: anything missing, zero, negative or non-numeric returns a single\nfact, and anything above 5 returns 5.\n\nWith `raw=true` the response is the plain text of one fact rather than\nJSON, and it is a 404 when no facts exist at all.\n\nEvery response is different, so these are sent with\n`Cache-Control: no-store` and must not be cached. New integrations\nshould use V2.",
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "default": 1
            },
            "description": "Number of facts to return (max 5, defaults to 1)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "default": 1
            },
            "description": "Number of facts to return (max 5, defaults to 1) - alias for 'number'"
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Return plain text instead of JSON"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": {
                      "facts": [
                        "Two Labradors, Lucky and Flo, were the first dogs known for sniffing out pirated DVDs."
                      ],
                      "success": true
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "facts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The requested facts, one string each"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "facts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The requested facts, one string each"
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}