<% page_heading "API Docs" %>

<h2>
  <a id="docs" href="#docs" aria-hidden="true"></a>
  API Docs
</h2>

<p>
  There are two versions of the API. The V1, which is the classic one (now deprecated), which uses a custom JSON response.
</p>

<p>
  And V2, which uses JSON API schema as its response format. This version will be widely supported and will be adding new features in the future.
</p>

<ul>
  <li><%= link_to "API V2", api_v2_path %></li>
  <li><%= link_to "API V1 (deprecated)", api_v1_path %></li>
</ul>
