<h2>
  <a id="overview" href="#overview" aria-hidden="true"></a>
  Overview
</h2>

<p>
  The <strong>Dog API</strong> provides information on over 340 dog breeds, 20 breed groups, and fun facts. Our data is accurate and constantly updated. Easily integrate this information into your own website or application with our user-friendly API. Get started today and discover more about the world of dogs.
</p>

<p>
  For example:
</p>

<blockquote>
  <%= @fact&.body %>
</blockquote>

<p>
  Best of all, it's <strong>completely free to use</strong>!
</p>

<p>
  <a href="https://www.producthunt.com/posts/dog-api-2?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-dog&#0045;api&#0045;2" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=373528&theme=neutral" alt="Dog&#0032;API - JSON&#0032;API&#0032;with&#0032;information&#0032;on&#0032;dog&#0032;breeds&#0032;and&#0032;fun&#0032;facts | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
</p>

<%= image_tag "dogs.jpg", alt: '3 pugs with glasses in front of a computer in an office, digital art' %>

<h3>FAQ</h3>

<h4>1. Where's the Slack button?</h4>
<p>I lost ownership of the Slack application due to Slack's policy. I tried to regain ownership of my own application but it was not possible.</p>

<h4>2. Why is this free?</h4>
<p>This API is widely used as an education tool, and for entertainment purposes. I've been hosting it for free for 6 years I'd like to keep it that way.</p>
<p>If you are interested in supporting this API, you can always <a href="https://www.buymeacoffee.com/kinduff" target="_blank">Buy me a coffee</a>.</p>

<h4>3. Why is V1 deprecated?</h4>
<p>The V1 version doesn't follow any kind of standard and was built to not be scalable. With V2, I'm planning to add new features including breeds, pictures, and other cool dog data.</p>

<h4>4. How can I get an API key?</h4>
<p>No need for now! I might introduce it in the future.</p>

<h4>5. Who are you?</h4>
<p>I'm <a href="https://kinduff.com" target="_blank">kinduff</a>! I love to build silly things and share them to the world. If you have built something interesting, let me know, it will inspire me to keep this service going. Send me an email at dev@dogapi.dog and I will check it out!</p>
