<% page_heading "Terms of Use" %>

<h2>
  <a id="terms" href="#terms" aria-hidden="true"></a>
  Terms of Use
</h2>

<p>The following terms of service (the &quot;Terms&quot;) apply to your access and use of the Stratonauts Dog API (the &quot;API&quot;). By accessing or using the API, you agree to be bound by these <strong>Terms</strong>. If you do not agree to these Terms, you may not access or use the API. </p>

<ol>
  <li>
    <p>
      <strong>Scope</strong>. The API allows users to access a collection of dog facts that have been submitted by members of the public. Stratonauts does not endorse or verify the accuracy of any of the facts provided through the API.
    </p>
  </li>
  <li>
    <p>
      <strong>Use of the API</strong>. You may use the API for personal, non-commercial purposes only. You may not use the API for any unlawful or illegal purposes, or in any manner that could harm Stratonauts or its reputation. The API is rate limited to 60 requests per minute per client. If you need to exceed this limit, please contact dev@dogapi.dog to request an API key.
    </p>
  </li>
  <li>
    <p>
      <strong>Attribution</strong>. If you use the API, you must include the following attribution in a prominent location: &quot;Powered by Stratonauts Dog API&quot;.
    </p>
  </li>
  <li>
    <p>
      <strong>Changes to the API</strong>. Stratonauts reserves the right to change, modify, or discontinue the API at any time, without notice.
    </p>
  </li>
  <li>
    <p>
      <strong>Termination</strong>. Stratonauts may terminate your access to the API at any time, for any reason, and without notice.
    </p>
  </li>
  <li>
    <p>
      <strong>Disclaimer of Warranties</strong>. The API is provided &quot;as is&quot; and &quot;as available&quot;. Stratonauts makes no representations or warranties of any kind, express or implied, regarding the API or its use.
    </p>
  </li>
  <li>
    <p>
      <strong>Limitation of Liability</strong>. Stratonauts will not be liable for any damages arising from your use of the API.
    </p>
  </li>
  <li>
    <p>
      <strong>Governing Law</strong>. These Terms and your use of the API will be governed by and construed in accordance with the laws of the State of California, without giving effect to any principles of conflicts of law.
    </p>
  </li>
  <li>
    <p>
      <strong>Entire Agreement</strong>. These Terms constitute the entire agreement between you and Stratonauts with respect to the API, and supersede all prior or contemporaneous communications and proposals, whether oral or written, between you and Stratonauts.
    </p>
  </li>
  <li>
    <p>
      <strong>Contact Us</strong>. If you have any questions about these Terms, please contact us at dev@dogapi.dog.
    </p>
  </li>
</ol>
